@font-face {
    font-family:"BrittaniRenata";
    src: url('./BrittaniRenata.ttf');
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}



body {
    background-color: rgb(255, 255, 255);
    font-family:"BrittaniRenata"
}

header {
    position: fixed;
    top: 8vh;
    background-color: black;
    width: 100vw;
    height : 15vh;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    z-index: 10;
    background-image: url('../assets/volute.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -10vh;
    border-bottom: solid white 1px;
}

nav {
    position: fixed;    
    width : 100vw;
    height: 8vh;
    background-color: black;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10; 
    border-bottom: solid white 1px;  
}

footer {

    position: fixed;
    bottom :0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 3vh;
    background-color: black;
    height: 5vh;
}

main {
    position: relative;
    top : 20vh;
    margin: auto;
    width : 96vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Century Gothic";
    
}

nav>a {
    text-decoration: none;

}

.bouton {
    display : block;
    color :white;
    font-size: 3vh;
    text-align: center;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    height : 8vh;
    width : 15vw;
}

.bouton:hover {
    background-color: white;
    color : black;
}

.accueil {
    background-color: white;
    width : 95%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
}

.accueil>img, .accueil>iframe {
    display : block;
    width :75%;
}

.accueil>article {
    width:95%;
    margin-bottom: 15px;
}

.accueil>iframe {
    height:calc(80vw*0.95*0.95*0.4);
}

h2, h3, p {
    margin-bottom: 5px;
}

ul {
    margin-left: 15px;
}

h2, h3 {
    color: orange;
    text-align: center;
}


.table {
    background-color: green;
    display: flex;
    flex-direction: row;
    height: 100vh;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items:center;
    border : solid black 2px;
    
}

.carte {
    background-color: red;
    height: 30vh;
    width: 10vw;
    margin: 5px;
    background-image: url('../assets/carte.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border : solid black 2px;
}

.cv-container {
    background-color: rgba(255, 255, 255, 0.733);
    width : 95%;
    margin-bottom: 5vh;
    padding: 30px;   
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
}

.cv-text {
    font-family: "Century Gothic";
    color :black;
    text-align: left;
}

.sousTitres {
    text-align: center;
    margin-bottom: 2vh;
}

#contact>a {
    text-decoration: none;
}

#coord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#CV {
    background-image: url('../assets/plante.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.two-parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.two-parts>div {
    width : 45%;
}

#userGuess {
    width : 50%;
    padding: 5px;
}

#validate {
    padding : 5px;
    width : 20%
}




.sticker {
    text-align: center;
    padding: 15px;
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
    width : 70vw;
    margin-bottom: 5vh;
}



.winLine {
    font-weight: 700;
    text-align: center;
}

.gameLine {
    text-align: center;
}

#mainSquare {
    box-shadow: rgb(0, 0, 0) 5px 5px 10px 1px;
    height : 45vh ;
    width : 45vh ;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.square{
    border : black solid 1px;
    height: 12vh;
    width: 12vh;
}

.square:hover {
    background-color:rgb(171, 171, 170);
}

.icon {
    height: 12vh;
    width: 12vh;
}